{
  "command": {
    "prefix": "!"
  },
  "discord":{
    "token": ""
  },
  "dispatcher": [
    {
      "module": "",
      "action": "",
      "commands": [  ],
      "listenOnChannels": [  ]
    }
  ],
  "modules": {
    "github": {
	    "username": "",
      "token": "",
      "repositories": [
        {
          "owner": "",
          "name": "",
          "listenOnChannels": [  ]
        }
      ]
    }
  }
}
