{
  "command": {
    "prefix": "!"
  },
  "dispatcher": [
    {
      "module": "",
      "action": "",
      "commands": [  ],
      "listenOnChannels": [  ]
    }
  ],
  "github": {
    "repositories": [
      {
        "owner": "",
        "name": "",
        "listenOnChannels": [  ]
      }
    ]
  }
}
